.navbar {
    height: auto;
    margin: 10px 10px 50px 10px;
    filter: drop-shadow(5px 5px 4px black);
}

.nav-link {
    background-color: white;
    width: 100px;
    padding-left: 10px;
}

body {
    background-color: grey;
    /* width: 100%; */
}

#wrap {
    width: 100%;
}

h2 {
    padding: 25px;
    width: 100%;
}

.container {
    background-color: white;
    color: black;
    /* overflow: auto; */
    width: 100%;
    /* padding: 10px;
    margin: 0px 50px 0px 50px; */
    filter: drop-shadow(5px 5px 4px black);
}

/* main {
    margin: 10px 20px 10px 20px;
    width: 100%;
} */

.card {
    width: auto;
    margin: 10px 50px 10px 50px;
    display: flex-box;
}

#headshot {
    width: 300px;
    height: auto;
    float: left;
    padding: 0px 20px 20px 20px;
}

footer {
    background-color: white;
    color: rgb(177,186,191);
    /* position: relative; */
    padding:20px;
    margin: 50px 10px 10px 10px;
    text-align: center;
    /* max-width: 1143px; */
    filter: drop-shadow(5px 5px 4px black);
}

.hidden {
    display: none;
}

.fa {
    font-size: 30px;
    width: 30px;
    border-radius: 50%;
  }

.span {
    display: inline-block;
}

.contact-r {
    display: inline-block;
}