.navbar {
    height: auto;
    margin: 10px 10px 50px 10px;
    filter: drop-shadow(5px 5px 4px black);
  }
  
  .nav-link {
    background-color: white;
    width: 100px;
    padding-left: 10px;
  }
  
  